# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Kamil Pajdzik
	email = kamip@microsoft.com
[core]
	excludesfile = /Users/kamip/.gitignore_global
	editor = code-insiders --wait
[merge]
  	keepBackup = false
	tool = p4merge
[mergetool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "\"$PWD/$BASE\"" "\"$PWD/$REMOTE\"" "\"$PWD/$LOCAL\"" "\"$PWD/$MERGED\""
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false
[diff]
    tool = p4merge
[difftool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "\"$REMOTE\"" "\"$LOCAL\""
[commit]
	template = /Users/kamip/.stCommitMsg
